<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    Users
  </div>
  <div class="card-body">
    <div class="datatable-search">
      <input class="datatable-input" placeholder="Search..." type="text" title="Search within table"
        aria-controls="datatablesSimple" [(ngModel)]='term' [ngModelOptions]="{standalone: true}">
    </div>
    <table class="table table-striped table-dark" id="datatablesSimple">
      <thead>
        <tr>
          <th scope="col">id</th>

          <th scope="col">Name of Assistant</th>

          <th scope="col">Email of Assistant</th>
          <th scope="col">Phone of Assistant</th>
          <th scope="col">Date of Request</th>
          <th scope="col">Response</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersTab | myfilter:term">
          <th scope="row">{{user._id}}</th>
          <td>{{user.assistantName}}</td>
          <td>{{user.assistantEmail}}</td>
          <td>{{user.assistantphone}}</td>
          <td>{{user.createdDate | date}}</td>

          <td>{{user.assistantResponse}}</td>
        </tr>

      </tbody>
    </table>

  </div>
</div>