     
          
       <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Start Dashboard</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" (click)="toggleSidebar()"><i class="fas fa-bars"></i></button>
    
        <!-- Navbar Search-->
        <!-- <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" (input)="searchTerm = $event.target.value" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" [(ngModel)]='term' [ngModelOptions]="{standalone: true}"/>
                <button class="btn btn-primary" id="btnNavbarSearch" type="button" (click)="searchFunction()"><i class="fas fa-search"></i></button>
            </div>
        </form> -->
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <div class="nav-link row mr-2 ml-auto align-items-center">
                    <div class="nav-link d-flex align-items-center">
                        <img [src]="user.avatar" class="user-image mr-1 p-2">
                     
                      <span class="username">{{user.firstName}} </span> &nbsp;<span class="username">{{user.lastName}}</span>
                    </div>
                    
                  </div>
            </li>
        </ul>
        
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Addons</div>
                 
                        <a class="nav-link" routerLink="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Personnel Dashboard
                        </a>
                    </div>
                </div>
              
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Dashboard</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard {{user.firstName}}</li>
                    </ol>
            <!-- contenu de visiteurs .. -->
            <app-table-dashboard-user></app-table-dashboard-user>
                </div>
            </main>

        </div>
    </div>

     <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->

           
               