    <!-- BANNER-SECTION -->
     
    <!-- <div class="home-banner-section overflow-hidden">
        <div class="banner-container-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 mb-md-0 mb-4 text-lg-left text-center">
                        <div class="home-banner-text"  data-aos="fade-up">
                            <h1>Care That Feels Like Family</h1>
                            <p class="banner-paragraph">
                                Duis aute irure dolor in reprehenderit in voluptate velit es
                                cillum dolore eu fugiat nulla pariatur excepteur sint occae
                                cupidatat non proident.</p>
                            <div class="banner-btn discover-btn-banner">
                                <a href="about.html" class="text-decoration-none">OUR CARE SERVICES</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                    </div>
                </div>
            </div>
        </div>
    </div>  -->
    <!-- <div class="home-banner-section overflow-hidden home-banner-section2 home-banner-section1">
        <div class="banner-container-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 mb-md-0 mb-4 text-md-left text-center d-flex align-items-center">
                        <div class="home-banner-text"  data-aos="fade-up">
                            <h1  style="color: white !important;">We give seniors the love they<span class="banner-deserve" style="color: white;"> deserve</span></h1>
                            <p class="banner-paragraph" style="color: white;">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident.</p>
                            <div class="banner-btn discover-btn-banner">
                                <a href="about.html" class="text-decoration-none">OUR CARE SERVICES</a>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div> -->
    <div class="home-banner-section overflow-hidden">
        <div class="banner-container-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 mb-md-0 mb-4 text-lg-left text-center">
                        <div class="home-banner-text"  data-aos="fade-up">
                            <h1>Care That Feels Like Family</h1>
                            <p class="banner-paragraph">
                                Duis aute irure dolor in reprehenderit in voluptate velit es
                                cillum dolore eu fugiat nulla pariatur excepteur sint occae
                                cupidatat non proident.</p>
                            <div class="banner-btn discover-btn-banner">
                                <a href="about.html" class="text-decoration-none">OUR CARE SERVICES</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                    </div>
                </div>
            </div>
        </div>
    </div>