<section class="login-form d-flex align-items-center">
    <div class="container">
        <div class="login-form-title text-center">
            <figure class="login-page-logo">
                <a class="navbar-brand mr-0 p-0" href="index-2.html"><img src="assets/images/sencare-logo2.png" alt=""
                        class="img-fluid"></a>
            </figure>
            <h2>Welcome Back !</h2>
        </div>
        <div class="login-form-box">
            <div class="login-card">
                <form #loginForm="ngForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <input class="input-field form-control" type="text" [(ngModel)]="profileUser.email" name="email"
                            id="exampleInputEmail1" placeholder="Email or Phone Number" required>
                    </div>
                    
                    <div class="form-group">
                        <input class="input-field form-control" type="password" [(ngModel)]="profileUser.password" name="password"
                            id="exampleInputPassword1" placeholder="Password" >
                  
                        <label class="font-weight-normal mb-0" style="cursor: pointer;">
                            <input class="checkbox" type="checkbox" name="userRememberMe" required>
                            Remember me
                        </label>
                        <a routerLink="/reset-password" class="forgot-password float-right">Lost Password?</a>
                    </div>
                </form>
            </div>
            <div class="join-now-outer text-center">
                <a routerLink="/subscription">Join now, create your FREE account</a>
            </div>
         

        </div>
    </div>
</section>