<div class="offer-section offer-section1" data-aos="fade-up" style="margin-top: 5px;">
    <h2>We offer you the  <span class="support">best support</span></h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 mb-lg-0 mb-md-0 mb-3">
                <div class="offer-section-box">
                    <div class="offer-section-inner">
                        <figure>
                            <img src="assets/images/offer-section-img1.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <h5>Home Care</h5>
                    <p>Care for your loved ones in the comfort of their own home</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-lg-0 mb-md-0 mb-3">
                <div class="offer-section-box">
                    <div class="offer-section-inner">
                        <figure>
                            <img src="assets/images/offer-section-img2.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <h5>Care Services</h5>
                    <p>Providing quality care services for your loved ones.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-lg-0 mb-md-0 mb-3">
                <div class="offer-section-box">
                    <div class="offer-section-inner">
                        <figure>
                            <img src="assets/images/offer-section-img3.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <h5> Medical Escort</h5>
                    <p>Safe transportation to and from medical appointments</p>
                </div>
            </div>
        </div>
    </div>
    </div>

