<div> <!-- offer-section -->
    <app-offer-section></app-offer-section>
</div>
<!-- Popup-Section -->
<div class="offer-section popup-section position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mb-lg-0 mb-md-0 mb-3">
                <h2 data-aos="fade-up">Welcome to Sen<span class="support">Care</span></h2>
                <p>The platform that connects you with the perfect caregiver for your loved ones. Our mission is to
                    provide high-quality, compassionate care that meets the unique needs of each individual. With
                    SenCare, you can rest assured that your loved ones are in good hands.</p>
                <div class="popup-btn">
                    <a href="about.html">About us</a>
                </div>
                <h4>Need clinical advice?</h4>
                <h4 class="popup-section-number">+216 50 670 298</h4>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 mb-lg-0 mb-md-0 mb-3">
                <div class="video-section-box">
                    <a class="popup-vimeo"
                        href="https://previews.customer.envatousercontent.com/bfa4eae3-5be3-457e-9c5f-31e840d016e5/watermarked_preview/watermarked_preview.mp4">
                        <figure class="mb-0">
                            <img src="assets/images/popup-video-img.png" style="cursor: pointer" alt=""
                                class="img-fluid video-img">
                        </figure>
                    </a>
                    <figure class="position-absolute popup-top-figure">
                        <img src="assets/images/video-section-top-img.png" alt="" class="img-fluid">
                    </figure>
                    <figure class="position-absolute popup-bottom-figure">
                        <img src="assets/images/video-section-bottom-img.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter-Section -->
<div class="counter-section2">
    <div class="container">
        <div class="counter-inner-row">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 mb-lg-0 mb-md-0 mb-sm-2">
                    <div class="counter-inner-box vl-border">
                        <h5><span>{{requestResponse}}</span></h5>
                        <p>Families successfully matched with caregivers</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 mb-lg-0 mb-md-0 mb-sm-2">
                    <div class="counter-inner-box vl-right-border">
                        <h5><span>{{numberOfAssistants}}</span></h5>
                        <p>Number of assistants</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 mb-lg-0 mb-md-0 mb-sm-2">
                    <div class="counter-inner-box">
                        <h5><span>{{vues}} </span></h5>
                        <p>Face to Face Visits</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 mb-lg-0 mb-md-0 mb-sm-2">
                    <div class="counter-inner-box border-right-box">
                        <h5><span>{{number}}</span></h5>
                        <p>Number of families seeking care</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service-Offer-Section -->
<div class="service-offer-section service-offer-section2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="service-offer-content" data-aos="fade-up">
                    <h2>Services We<span class="support">Offer</span></h2>
                    <p>At SenCare, we provide a range of services to ensure your loved ones receive the care they need
                        in the comfort of their own home.</p>
                </div>
                <div class="service-inner">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-12">
                            <figure class="service-figure-mb">
                                <img src="assets/images/service-offer-left-img.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 d-lg-block d-none"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="offer-inner-box offer-inner-box1 offer-inner-box2">
                                        <figure class="service-figure-mb">
                                            <img src="assets/images/offer-icon1.png" alt="" class="img-fluid">
                                        </figure>
                                        <h4>Medical Record</h4>
                                        <p>Manage your medical information easily with our record service</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="offer-inner-box offer-inner-box1 offer-inner-box2">
                                        <figure class="service-figure-mb">
                                            <img src="assets/images/offer-icon2.png" alt="" class="img-fluid">
                                        </figure>
                                        <h4>Ambulance</h4>
                                        <p>Prompt and reliable ambulance services at your doorstep</p>
                                    </div>
                                </div>
                            </div>
                            <!-- row2 -->
                            <div class="offer-section-row2">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="offer-inner-box offer-inner-box2">
                                            <figure class="service-figure-mb">
                                                <img src="assets/images/offer-icon3.png" alt="" class="img-fluid">
                                            </figure>
                                            <h4>Medical Advice</h4>
                                            <p>Professional medical support</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="offer-inner-box">
                                            <figure class="service-figure-mb">
                                                <img src="assets/images/offer-icon4.png" alt="" class="img-fluid">
                                            </figure>
                                            <h4>24/7 Support</h4>
                                            <p class="mb-0">24/7 assistance at your fingertips</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Happy-Clients-Section 
    
        <section class="happy-clients-section happy-clients-section2" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                    <div class="review-section-outer position-relative">
                        <div class="carousel-card">
                    The slideshow -->
<!-- <div class="carousel-inner">
                          <div class="carousel-item active">
                              <figure><img src="assets/images/happy-clients-section-img2.png" alt="" class="img-fluid"></figure>
                            <h4 class="carousel-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident deserunt mollit anim id est laborum.</h4>
                            <div class="about-border"></div>
                           <h4 class="carousel-title">Michel Barnier</h4>
                           <p class="carousel-end-text">Senior Advisor</p>
                           <figure class="carousel-bottom-fig"><img src="assets/images/carousel-bottom-img.png" alt="" class="img-fluid"></figure>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                </div>       
            </div>
        </div>
        </section>  -->

<!-- Latest-Blogs-Section -->
<!-- <div class="blogs-section latest-blogs-section">
        <div class="container">
            <h2 data-aos="fade-up">Latest <span class="blogs-span"> Blogs</span></h2>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 mb-sm-4">
                    <div class="blogs-content-box">
                    <figure><img src="assets/images/latest-blog-img1.png"  alt="" class="img-fluid"></figure>
                    <p class="blogs-title">February 29, 2020 in London</p>
                        <h5 class="blogs-text">The Nation's No.1 Home Care</h5>
                    <div class="blogs-btn">
                        <a href="#" data-toggle="modal" data-target="#blog-model-1">Learn More</a>
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-sm-4">
                    <div class="blogs-content-box">
                    <figure><img src="assets/images/latest-blog-img2.png"  alt="" class="img-fluid"></figure>
                    <p class="blogs-title">February 29, 2020 in London</p>
                        <h5 class="blogs-text">Caring Senior Service</h5>
                    <div class="blogs-btn">
                        <a href="#" data-toggle="modal" data-target="#blog-model-2">Learn More</a>
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blogs-content-box mb-0">
                    <figure><img src="assets/images/latest-blog-img3.png"  alt="" class="img-fluid"></figure>
                    <p class="blogs-title">February 29, 2020 in London</p>
                        <h5 class="blogs-text">Sunrise Senior Living</h5>
                    <div class="blogs-btn">
                        <a href="#" data-toggle="modal" data-target="#blog-model-3">Learn More</a>
                    </div>        
                </div>
                </div>
            </div>
        </div>
    </div>  -->
<div class="blogs-section latest-blogs-section">
    <div class="container">
        <div class="row" *ngIf="assistantTabe && assistantTabe.length > 0">
            <div class="col-lg-4 col-md-4 col-sm-6 mb-sm-4" *ngFor="let assistant of assistantTabe">
                <app-assistant1 [X]="assistant"></app-assistant1>
            </div>
        </div>
    </div>
</div>





<!-- BLOG SECTION POPUP -->
<!-- <div id="blog-model-1" class="modal fade blog-model-con" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
                            class="fa-solid fa-x"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="blog-box-item mb-0">
                    <div class="blog-img">
                        <figure class="mb-0">
                            <img src="assets/images/popup-blog-img1.jpg" alt="blog-img" class="img-fluid">
                        </figure>
                    </div>
                    <div class="blog-content pl-0 pr-0">
                        <div class="blog-auteher-title">
                            <span>By Elina Parker</span>
                            <span class="float-lg-right">Sep 01, 2022</span>
                        </div>
                        <div class="span_wrapper">
                            <i class="fa-solid fa-calendar-days" aria-hidden="true"></i><span> 25 Oct, 2020 | by
                                admin</span>
                        </div>
                        <p class="blog_p mb-0">Magni dolores eos qui ratione voluptatem tempora incidunt sequi</p>
                        <p class="pp">
                            Quis nostrum exercitationem ullam corporis suscit labor iosam, nisi ut aliquid ex ea commodi
                            conse aute irure dolor
                            in reprehenderit in voluptateesse occaecat cuida at non proident, sunt in culpa qui officia
                            deserun.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor eros a tellus
                            auctor, nec suscipit nunc dignissim. Ut suscipit gravida augue sed elementum. Sed sed luctus
                            nisl. Donec scelerisque nisi in sodales mattis. Vestibulum suscipit odio ac enim blandit
                            sollicitudin.
                        </p>
                        <h2>Get In Touch With Us</h2>
                        <div class="carousel-card-form position-relative">
                            <form method="post" action="https://html.designingmedia.com/sencare/contact-form.php">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="border-bottom-outer position-relative">
                                            <input class="form-input-fields" type="text" name="fname"
                                                placeholder="First Name">
                                        </div>
                                        <input class="form-input-fields" type="text" name="email" placeholder="Email">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <input class="form-input-fields" type="text" name="lname"
                                            placeholder="Last Name">
                                        <input class="form-input-fields" type="text" name="phone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" name="message" class="message-field" placeholder="Message">
                                        <div class="popup-btn">
                                            <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="blog-model-2" class="modal fade blog-model-con" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
                            class="fa-solid fa-x"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="blog-box-item mb-0">
                    <div class="blog-img">
                        <figure class="mb-0">
                            <img src="assets/images/popup-blog-img2.jpg" alt="blog-img" class="img-fluid">
                        </figure>
                    </div>
                    <div class="blog-content pl-0 pr-0">
                        <div class="blog-auteher-title">
                            <span>By Elina Parker</span>
                            <span class="float-lg-right">Sep 01, 2022</span>
                        </div>
                        <div class="span_wrapper">
                            <i class="fa-solid fa-calendar-days" aria-hidden="true"></i><span> 25 Oct, 2020 | by
                                admin</span>
                        </div>
                        <p class="blog_p mb-0">Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        <p class="pp">
                            Quis nostrum exercitationem ullam corporis suscit labor iosam, nisi ut aliquid ex ea commodi
                            conse aute irure dolor
                            in reprehenderit in voluptateesse occaecat cuida at non proident, sunt in culpa qui officia
                            deserun.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor eros a tellus
                            auctor, nec suscipit nunc dignissim. Ut suscipit gravida augue sed elementum. Sed sed luctus
                            nisl. Donec scelerisque nisi in sodales mattis. Vestibulum suscipit odio ac enim blandit
                            sollicitudin.
                        </p>
                        <h2>Get In Touch With Us</h2>
                        <div class="carousel-card-form position-relative">
                            <form method="post" action="https://html.designingmedia.com/sencare/contact-form.php">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="border-bottom-outer position-relative">
                                            <input class="form-input-fields" type="text" name="fname"
                                                placeholder="First Name">
                                        </div>
                                        <input class="form-input-fields" type="text" name="email" placeholder="Email">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <input class="form-input-fields" type="text" name="lname"
                                            placeholder="Last Name">
                                        <input class="form-input-fields" type="text" name="phone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" name="message" class="message-field" placeholder="Message">
                                        <div class="popup-btn">
                                            <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="blog-model-3" class="modal fade blog-model-con" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
                            class="fa-solid fa-x"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="blog-box-item mb-0">
                    <div class="blog-img">
                        <figure class="mb-0">
                            <img src="assets/images/popup-blog-img3.jpg" alt="blog-img" class="img-fluid">
                        </figure>
                    </div>
                    <div class="blog-content pl-0 pr-0">
                        <div class="blog-auteher-title">
                            <span>By Elina Parker</span>
                            <span class="float-lg-right">Sep 01, 2022</span>
                        </div>
                        <div class="span_wrapper">
                            <i class="fa-solid fa-calendar-days" aria-hidden="true"></i><span> 25 Oct, 2020 | by
                                admin</span>
                        </div>
                        <p class="blog_p mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
                        <p class="pp">
                            Quis nostrum exercitationem ullam corporis suscit labor iosam, nisi ut aliquid ex ea commodi
                            conse aute irure dolor
                            in reprehenderit in voluptateesse occaecat cuida at non proident, sunt in culpa qui officia
                            deserun.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor eros a tellus
                            auctor, nec suscipit nunc dignissim. Ut suscipit gravida augue sed elementum. Sed sed luctus
                            nisl. Donec scelerisque nisi in sodales mattis. Vestibulum suscipit odio ac enim blandit
                            sollicitudin.
                        </p>
                        <h2>Get In Touch With Us</h2>
                        <div class="carousel-card-form position-relative">
                            <form method="post" action="https://html.designingmedia.com/sencare/contact-form.php">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="border-bottom-outer position-relative">
                                            <input class="form-input-fields" type="text" name="fname"
                                                placeholder="First Name">
                                        </div>
                                        <input class="form-input-fields" type="text" name="email" placeholder="Email">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <input class="form-input-fields" type="text" name="lname"
                                            placeholder="Last Name">
                                        <input class="form-input-fields" type="text" name="phone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" name="message" class="message-field" placeholder="Message">
                                        <div class="popup-btn">
                                            <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->