

 <div class="offer-section popup-section position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mb-lg-0 mb-md-0 mb-3">
                <form #profilForm (ngSubmit)="changePassword()">
                    <h2>Welcome {{user.firstName}}</h2>
                    <div class="input-icons">
                        <div class="form-group position-relative" style="margin-bottom: 200px;">
                            <div>
                                <input type="text" class="form-control input-text popup-section-number"
                                    id="validationCustom01" name="firstName" [(ngModel)]="user.firstName" style="font-size: 20px;">
                                <i class="fa fa-user icon1"> </i>
                            </div>
                            <div class="form-group position-relative">

                                <input type="text" class="form-control input-text  popup-section-number"
                                    id="validationCustom07" name="lastName" [(ngModel)]="user.lastName" style="font-size: 20px;">
                                <i class="fa fa-user icon1"> </i>
                            </div>
                            <div class="form-group position-relative">
                                <input for="validationCustom02" class="form-control input-text  popup-section-number"
                                    name="phoneNumber" [(ngModel)]="user.phoneNumber" style="font-size: 20px;">
                                <i class="fa-solid fa-phone icon2"></i>
                            </div>
                            <div class="form-group position-relative">
                                <input type="email" id="validationCustom03"
                                    class="form-control input-text  popup-section-number" name="email"
                                    [(ngModel)]="user.email" style="font-size: 20px;">
                                <i class="fa-solid fa-envelope icon3"></i>
                            </div>
                        
                            <div class="form-group position-relative">
                                <input type="email" id="validationCustom03"
                                    class="form-control input-text  popup-section-number" placeholder="Old Password" name="oldPassword"
                                    [(ngModel)]="user.oldPassword" style="font-size: 20px;">
                                <i class="fa-solid fa-envelope icon3"></i>
                            </div>
                            <div class="form-group position-relative">
                                <input type="email" id="validationCustom03"
                                    class="form-control input-text  popup-section-number" placeholder="New Password" name="newPassword"
                                    [(ngModel)]="user.newPassword" style="font-size: 20px;">
                                <i class="fa-solid fa-envelope icon3"></i>
                            </div>
                            <div class="popup-btn">
                                <!-- <a href="about.html">About us</a> -->
                                <button type="submit" class="text-decoration-none" style="background-color:#8bc53e; font-size: 20px; color: #662d91;">change Password</button>
                            </div>



                        </div>
                    </div>
                </form>
            </div>
       
        </div>
    </div>
</div>