
<section class="form-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="left-section" data-aos="fade-up"  *ngIf="assistant">
                    <img [src]="assistant.avatar">
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="right-section">
               <form #editForm (ngSubmit)="editAssistant()">
                    <h2>User Information</h2>
                    <div class="input-icons">
                     <div class="form-group position-relative">
                      <div>
                        <input type="text" class="form-control input-text" id="validationCustom01" name="firstName" [(ngModel)]="assistant.firstName">
                        <i class="fa fa-user icon1">  </i>
                     </div>
                     <div class="form-group position-relative">
                        
                        <input type="text" class="form-control input-text" id="validationCustom07" name="lastName" [(ngModel)]="assistant.lastName">
                        <i class="fa fa-user icon1">  </i>
                     </div>
                     <div class="form-group position-relative">
                        <input for="validationCustom02"  class="form-control input-text" name="phoneNumber" [(ngModel)]="assistant.phoneNumber">
                        <i class="fa-solid fa-phone icon2"></i>
                     </div>
                     <div class="form-group position-relative">
                        <input  type="email" id="validationCustom03" class="form-control input-text" name="email" [(ngModel)]="assistant.email">
                        <i class="fa-solid fa-envelope icon3"></i>
                     </div>
                     <div class="form-group position-relative">
                        <input type="text" id="validationCustom04" class="form-control input-text" name="address" [(ngModel)]="assistant.address">
                    </div>
                     <div class="form-group position-relative">
                        <input type="text" id="validationCustom05" class="form-control input-text" name="gender" [(ngModel)]="assistant.gender">
                    <i class="fa-solid fa-venus-mars icon3"></i>
                     </div>
                     <div class="form-group position-relative">
                        <input type="date" id="validationCustom06" class="form-control input-text"name="birthday"  [(ngModel)]="assistant.birthday" >
                        <span>{{ assistant.birthday | date: 'jj-mm-yyyy' }}</span>
                        <i class="fa-solid fa-calendar-alt icon3"></i>
                     </div>
                     <div class="banner-btn discover-btn-banner">
                        <button type="submit"  class="text-decoration-none">Edit Assistant</button>
                 
                    </div>
                    </div>
                    </div>
                </form>
                
                </div>
                
            </div>
            
        </div>
    </div>
 </section>
