<section class="login-form d-flex align-items-center">
    <div class="container">
        <div class="login-form-title text-center">
            <figure class="login-page-logo">
                <a class="navbar-brand mr-0 p-0" href="index-2.html"><img src="assets/images/sencare-logo2.png" alt=""
                        class="img-fluid"></a>
            </figure>
            <h2>Welcome Back !</h2>
        </div>
        <div class="login-form-box">
            <div class="login-card">
                <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordd()">
                    <div class="form-group">
                        <input class="input-field form-control" type="email" formControlName="email"
                            id="exampleInputEmail1" placeholder="Email ">
                    </div>
                    <div
                        *ngIf="resetPassword.controls['email'] && resetPassword.controls['email'].invalid && (resetPassword.controls['email'].touched || resetPassword.controls['email'].dirty)">
                    </div>

                        <button type="submit" class="btn btn-primary hover-effect">Send password recovery email</button>

                </form>
            </div>

        </div>
    </div>
</section>